<nav>
	<ul>
		<li>
			<a href="/">About Me</a>
		</li>
		<li>
			<a href="/Blog">Blog</a>
		</li>
	</ul>
</nav>

<style>
	nav {
		padding: 1rem 2rem;
		border-bottom: 3px solid var(--accent);
	}

	nav ul {
		display: flex;
		gap: 1rem;
		list-style: none;
		justify-content: flex-end;
	}

	a {
		text-decoration: none;
		color: var(--font-color-primary);
		font-weight: bold;
	}
</style>